#sortdiv{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-bottom: 1px solid #e7e7e7;
    align-items: center;
    padding: 3px;
    /* background-color: aqua; */
    justify-content: flex-end;
    
}
#sortdiv select{
    margin-right: 10px;
    border: none;
    height: 20px;
    color: #323133;
    
}
#sortdiv p{
    font-size: 14px;
    margin: 2px;
    color: #323133;
}
#mainview{
    display: flex;
    width: 100%;
    /* background-color: aqua; */
    justify-content: space-around;
}
#filter{
    display:flex;
    flex-direction: column;
    min-width: 260px;
    width: 300px;

}
.filter-child{
    display:flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom:15px;
    padding-left:25px;
    border-bottom:1px solid  #e9e9ed;
    border-right: 1px solid #edebef;
}
.filter-child > span{
    margin:0px 0px 18px;
    font-size: 14px;
    font-weight:500 ;
}
.filter-child > div{
    
    margin-bottom: 5px;
}
.filter-child > div > input{
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border: 1px solid #c3c2c9;
    background: #fff;
    border-radius: 2px; 
}
.filter-child > label{
    /* border-top:1px solid red; */
    display:block;
    width:95%;
    white-space: nowrap;
    cursor:pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 17px;
    color:#282c3f;
}
#product-black{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    background-color: black;
    margin-left: 8px; 
}

#product-grey{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    background-color: grey;
    margin-left: 8px;  
}
#product-blue{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    background-color: blue;
    margin-left: 8px;  
}
#product-maroon{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    background-color: maroon;
    margin-left: 8px;  
}

#detail{
    padding-left: 15px;
}
#showresult{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
   
}
#showresult>div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:290px;
    height: 450px;
    margin: 16px 6px;
    border: 0.2px solid darkgray;
    border-radius: 5px;
 
     
 }
#showresult>div:hover{
    cursor: default;
}

    

.imgdiv
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 340px;
    width:270px;
    overflow: hidden;
}
#showresult h2
{
    font-size: 20px;
    margin: 2px;
}
#showresult h3
{
    font-size: 18px;
    font-weight: 400;
    color: gray;
    margin: 2px;
}
#showresult h3:hover
{
    text-decoration: underline;
    color: red;
}
.rating
{   padding-left: 10px;
    display: flex;
    width:230px;
    height: 30px;
    align-items: baseline;
    justify-content: center;
}
.rating .checked
{
    color: orange;
}
 .fa-star
{
    color: rgb(173, 173, 173);
}
.rating p
{
    color: rgb(31, 85, 222);
    font-size: 14px;
    font-weight: 100;
}
.price
{
    display: flex;
    width: 260px;
    height: 50px;
    justify-content: center;
    align-items: baseline;
}
.price h4
{
    font-size: 20px;
    font-weight: 600;
    margin: 2px 5px 2px 16px;

}
.price p
{
    color: gray;
    text-decoration-style: dashed;
    margin: 2px 5px;
    font-size: 12px;

}
.price .discount
{
    color: green;
    font-size: 16px;
}
