* {
    user-select: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#completeNavbar{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
#navbar{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height:70px;
    padding: 7px 0px;
    /* margin: -8px; */
}
#logo{
    width: 12%;
}
#address{
    display: flex;
    flex-direction: row;
    width: 13%;
    color: white;
    
}
.location{
    margin-top: 13px;
    margin-right: 6px;
}
.locationText>  p{
    font-size: small;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: lightgrey;
}
.locationText > h4{
    /* margin: 0px; */
    margin-top: -14px;
}
#searchbar{
    width: 44%;
    display: flex;
    flex-direction: row;
    margin: auto;
}
#rest{
    display: flex;
    flex-direction: row;
    width: 28%;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
#logo > a > img{
    width: 80%;
    margin: auto;
    margin-left: 10px;
    height: 60px;
}
#searchbar > select{
    width: 9%;
    border: none;
    text-decoration: none;
    background-color: rgb(237, 235, 235);
    color: rgba(9, 9, 9, 0.626);
    border-radius: 5px 0 0 5px;
    height: 40px;
    padding: 8px 6px;
    font-size: smaller;
}
#search{
    width: 82%;
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    color: #000;
    height: 40px;
}
#handleSubmit{
    width: 8%;
    padding: 7px 10px 10px 0;
    color: #000;
    font-size: 17px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: rgb(211, 158, 58);
    height: 40px;
}
#handleSubmit > img{
    width: 27px;
    height: 27px;
    margin: 0 0 4px 8px;
}
#handleSubmit:hover{
    background-color: rgb(208, 143, 21);
}
.language > img{
    width: 22px;
    height: 17px;
    margin-top: 20px;
}
/* .language > select{
    width: 16px;
    margin: auto;
    color: rgb(117, 116, 116);
    background-color: black;
    margin-top: 8px;
    border: none;
} */
.language
{
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
}
.language > select{
    width: 16px;
    /* margin: auto; */
    color: rgb(117, 116, 116);
    background-color: black;
    /* margin-top: 18px; */
    border:none;
}
.language > select option{
    background-color: white;
}
a{
    text-decoration: none;
}
#signIn{
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}
#signIn > p{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgrey;
}
#signIn > h4{
    margin: 0px;
    color: white;
    margin-top: -14px;
}
.order{
    margin-top: 10px;
    /* margin-left: 10px; */
}
.order > p{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgrey;
}
.order > h4{
    /* margin: 0px; */
    color: white;
    margin-top: -12px;
}
i{
    color: white;
}
#cart{
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
}
#cart > h5{
    color: white;
    font-size: large;
    margin-left: -10px;
}
#cart > img{
    height: 55px;
    width: 70px;
}
#miniNavbar{
    display: flex;
    flex-direction: row;
    height: 222px;
    align-items: flex-end;
    padding-top: 10px;
    /* margin: 0 -8px 0 -8px; */
    margin: -8px 0px 0px;
    background-color: rgba(5, 5, 25, 0.863);
    height: 40px;
}
#leftSide{
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    margin: auto;
}
#leftSide > a{
    color: white;
    font-size: medium;
    margin-top: -6px;
}
#leftSide > span{
    color: white;
    font-size: medium;
    margin-top: -6px;
}
#rightSide{
    width: 33%;
    margin: auto;
    height: 40px;
    margin-left: 20px;
}
#rightSide > a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#rightSide > a >p{
    width: 85%;
    color: rgba(245, 245, 245, 0.842);
    font-size: larger;
    font-weight: 500;
    margin-top: -6px;
    /* font-family: Arial, Helvetica, sans-serif; */
    
}
#rightSide > a >img{
    margin-top :-8px;
    width: 9%;
    height: 35px;
}
#sideBar{
    background-color: aliceblue;
    /* margin-top: -8px; */
    width: 370px;
    position: fixed;
    height: 100%;
    top:0;
    left: -400px;
    z-index: 2;
    transition: left 0.4s ease;
    /* margin-top: 100px; */
    
}

#heading{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    background-color: black;
}
#heading > p{
    text-align: center;
    color: whitesmoke;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin-top: 13px ;
}
#heading > img{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    margin-top: 10px;
    margin-left: 30px;
}
#content{
    /* margin-top: -17px; */
    height: 100%;
    overflow: scroll;
    background-color: white;
}
#content > ul{
    padding: 0;
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    /* font-family: Arial, Helvetica, sans-serif; */
    line-height: 50px;
    padding-left: 35px;
    margin-bottom: 0px;
    margin-top: 2px;
}
#content > li {
    text-decoration: none;
    color: rgba(34, 33, 33, 0.886);
    line-height: 40px;
    list-style: none;
    font-size: 14px;
    font-weight: 520;
    /* font-family: Arial, Helvetica, sans-serif; */
    padding-left: 35px;
    border-left: 3px solid transparent;
}
#content > li > a{
    color: rgba(34, 33, 33, 0.886);
    
}
#content >li:hover{
    background-color: rgba(180, 178, 177, 0.386);
    border-left-color: rgb(248, 100, 8);
}
#crossBtn{
    margin-left: 90px;
    background-color: black;
    border: none;
}
#crossBtn > img {
    height: 30px;
    width: 50px;
    background-color: black;
}
#username
{
    /* background-color: aqua; */

    margin: 23px 5px 5px 5px;
    font-size: 18px;
    color: aliceblue;
    font-weight: 500;

}
